* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background: #F4F4F4;  
  width: 1358px;

  &__item {
    height: auto;
    padding: 10px;
    background: white;
    margin: 5px;
    &__img {  
      padding: 10px;
    }
    &__icons {
      text-align: right;
      color: #AAA;
      size: 13px;
      p {
        display: inline;
        font-family: Helvetica;
        margin-left: 5px;
      }
      i {
        margin-right: 2px;
      }
    }
  }
}
